.main--single-pattern {
  background:
    linear-gradient(to right, #bbb 1px, transparent 1px),
    linear-gradient(to bottom, #bbb 1px, transparent 1px);
  background-size: 32px 32px;
  background-repeat: repeat;
  background-color: white;
}
